<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %>_</h2><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
     <% if resource.avatar.attached?%>
        <%= image_tag resource.avatar, style: "  vertical-align: middle; width: 200px; border-radius: 50%;"%>
     <% end %>
  </div>

  <div class="field">
    <%= f.label :full_name%><br />
    <%= f.text_field :full_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="form-group mx-auto" align="center">
    <div class= "dropzone dropzone-default dz-clickable border rounded" data-controller="dropzone" data-dropzone-max-file-size="8" data-dropzone-max-files="1">
        <%= f.file_field :avatar, direct_upload: true, data: { target: "dropzone.input"} %>
        <div class="dropzone-msg text-sm dz-message needsclick text-gray-600">
          <h6 class="dropzone-msg-title text-sm text-muted">Drag here to upload or click here to browse</h6>
          <span class="dropzone-msg-desc text-sm text-muted">8 MB file size maximum. Allowed file types png, jpg.</span>
        </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
