
<div class="container">
<h1>Product id: <%= @results.id%></h1>

<div class= "row g-4 py-5 row-cols-1 row-cols-lg-3">
<span class="border">
  <div class="feature col">
   <h2><%= @results.name%></h2>
   <p><%= @results.description%></p>
   <p>Rs. <%= @results.price%></p>
   <% if user_signed_in? %>
      <%= link_to "Add #{@results.name} to cart", cart_items_new_path(:product_id => @results.id, :quantity => 1, :cart_id =>current_user.id), class:"btn btn-light border"%>
   <% end %>
  </div>
</span>
</div>
<%= current_user.present? ? (@results.user_id == current_user.id ? "You Can't share review on this product" :(link_to 'Type Your Review', new_product_review_path(@results.id), class:"btn btn-danger")) : "" %>
<br><br>
<h3>Reviews</h3>
<p> <%= "No Reviews" if Review.all.where(product_id: @results.id).length ==0 %></p>
<% Review.all.where(product_id: @results.id).each do |p|%>
<span class="border">
  <div class="feature col">
   <h4>Review Message: "<i><%= p.review_message%></i>"</h4>
   <p>Review by: <%= User.all.find(p.user_id).full_name %></p>
   <%= current_user.present? ? (p.user_id == current_user.id ? (link_to "Edit",edit_product_review_path(@results.id,p.id), class:"btn btn-danger") : "") : ""%>
   <%= current_user.present? ? (p.user_id == current_user.id ? (link_to 'Destroy',product_review_path(@results.id,p.id), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger") : ""): ""%>
  </div>
</span>
<% end %>

</div>
