<div class="container">
<h2>Confirm and Add to Cart_</h2><br>
<%= form_with model: (@cart_item) do |f| %>
  <% if @cart_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_item.errors.count, "error") %> prohibited this cart item from being saved:</h2>

      <ul>
        <% @cart_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %>#
    <%= f.hidden_field :product_id, autofocus: true, value: params[:p_id], readonly: true, style: "#{'display:none'}" %>
    <%= Product.all.find(params[:p_id]).name%>
  </div>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, autofocus: true, value: params[:q]  %>
  </div>

  <div class="field">
    <%= f.hidden_field :cart_id, autofocus: true, value: params[:c_id], readonly: true, style: "#{'display:none'}" %>
  </div><br>

  <%= f.submit %>
<% end %>
</div>
