<div class="container">
<h2>Confirm and Add to Cart_</h2><br>
<%= form_with model: (@cart_item) do |f| %>
  <div class="field">
    <%= f.label :product %>#
    <%= f.text_field :product_id, autofocus: true, value: params[:product_id], readonly: true, style: "#{'display:none'}" %>
    <%= Product.all.find(params[:product_id]).name%>
  </div>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, autofocus: true, value: params[:quantity]  %>
  </div>

  <div class="field">
    <%= f.text_field :cart_id, autofocus: true, value: params[:cart_id], readonly: true, style: "#{'display:none'}"   %>
  </div><br>

  <%= f.submit %>
<% end %>
</div>
