<div class="container">
  <h1>Order Ready to finalize_</h1>
    <% @cart_item.each do |cart_item|%>
    <span class="border">
      <div class="feature col">
        <p>Name: <strong><%= cart_item.product.name %></strong></p>
        <p>Quantity: <strong><%= cart_item.quantity %></strong></p>
      </div>
    </span>
  <% end %>
  <%= form_with model: @order_item do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
        <% @order_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :order_id, autofocus: true, value: params[:order_id]%>
  </div>

  <%= f.submit %>
<% end %>
</div>
