<%= form_with model: product do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mx-auto" align="left">
    <% if product.pimage.attached? %>
        <% product.pimage.each do |image| %>
            <%= image_tag image, style: "height: 210px ;width: 300px; display: block" %>
        <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '60x10', autofocus: true %>
  </div>

  <div class="form-group mx-auto" align="center">
    <div class= "dropzone dropzone-default dz-clickable border rounded" data-controller="dropzone" data-dropzone-max-file-size="8" data-dropzone-max-files="2">
        <%= f.file_field :pimage, multiple: true, name: 'pimage[]', direct_upload: true, data: { target: "dropzone.input"} %>
        <div class="dropzone-msg text-sm dz-message needsclick text-gray-600">
          <h6 class="dropzone-msg-title text-sm text-muted">Drag here to upload or click here to browse</h6>
          <span class="dropzone-msg-desc text-sm text-muted">8 MB file size maximum. Allowed file types png, jpg.</span>
        </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
