<%= form_with model: product do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
     <% if product.pimage.attached? %>
        <%= image_tag product.pimage, style: "width: 50px; display: block;  border-radius: 50%;"%>
     <% end %>
     <%= f.file_field :pimage, class:"form-control  form-control-sm"%>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '60x10', autofocus: true %>
  </div>

  <%= f.submit %>
<% end %>
