<%= form_with model: product do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: '60x10', autofocus: true %>
  </div>

  <div class= "row g-4 py-5 row-cols-1 row-cols-lg-3">
     <span class="border rounded">
        <h5><strong>Upload Product Photo_</strong></h5>
        <div class="row g-4 feature col">
          <div class="form-group mx-auto" align="center">
            <% if product.pimage.attached? %>
                <%= image_tag product.pimage, style: "height: 100px ;width: 100px; display: block"%>
            <% end %>
            <div class= "dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
                <%= f.file_field :pimage, class:"form-control  form-control-sm", direct_upload: true, data: { target: "dropzone.input"} %>
                <div class="dropzone-msg text-sm dz-message needsclick text-gray-600">
                  <h6 class="dropzone-msg-title text-sm text-muted">Drag here to upload or click here to browse</h6>
                  <span class="dropzone-msg-desc text-sm text-muted">2 MB file size maximum. Allowed file types png, jpg.</span>
                </div>
            </div>
          </div>
        </div>
      </span>
  </div>

  <%= f.submit %>
<% end %>
