<div class="container">
  <h1>E-commercio Store_</h1>
  <h2>Hey, <%= current_user.present? ? current_user.full_name : "Guest" %></h2>
  <h3>Latest Products</h3>
  <p>Available Products: <%= @products.length %></p>
</div>

<div class= "row g-4 py-5 row-cols-1 row-cols-lg-3">
   <% @products.each do |product| %>
      <span class="border">
         <div class="feature col">
            <div class="form-group">
               <% if product.pimage.attached? %>
                  <%= image_tag product.pimage.first, style: "height: 210px ;width: 300px; display: block" %>
               <% else%>
                  <h1>no image</h1>
               <% end %>
            </div>

            <h2><%= product.name %></h2>
            <p>Serial no. <%= product.serial_number %></p>
            <p><%= product.description %></p>
            <p>Rs. <%= product.price %></p>
            <%= link_to 'Show', product, class:"btn btn-danger" %>
            <%  if user_signed_in? %>
               <%= (link_to 'Add to Cart', new_cart_item_path(p_id: product.id, q: 1, c_id: current_user.cart.id), class:"btn btn-light border")%>
            <% end %>
         </div>
      </span>
   <% end %>
</div>
<div class= "container">
   <div class="container">
      <%= will_paginate @products %>
   </div>
</div>
