<div class="container">
  <h1>E-commercio Store</h1>
  <p>Latest Products</p>
  <p>Available Product <%= @products.length %></p>
</div>

<div class= "row g-4 py-5 row-cols-1 row-cols-lg-3">
<% @products.each do |p|%>
<span class="border">
  <div class="feature col">
   <h2><%= p.name%></h2>
   <p><%= p.description%></p>
   <p>Rs. <%= p.price%></p>
   <%= link_to 'Show', p, class:"btn btn-danger" %>
   <%= link_to 'Add to Cart', p, class:"btn btn-light border" %>
  </div>
</span>
<% end %>
</div>
