<div class="container">
<h1>Create your Product_</h1><br>
<%= form_with(model: @product) do |f| %>
  <p><%= current_user.id %></p>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "60x10", autofocus: true %>
  </div>

  <%= f.submit %>
<% end %>
</div>
