<div class="container">
  <h1>Product id: <%= @product.id %></h1>

  <div class= "row g-4 py-5 row-cols-1 row-cols-lg-3">
     <span class="border">
        <div class="feature col">
          <h2><%= @product.name %></h2>
          <div class="form-group">
               <% if @product.pimage.attached? %>
                  <% @product.pimage.each do |image| %>
                    <%= image_tag image, style: "height: 210px ;width: 300px; display: block" %>
                  <% end %>
               <% else%>
                  <h1>no image</h1>
               <% end %>
            </div>
          <p><%= @product.description %></p>
          <p>Rs. <%= @product.price %></p>
          <%= link_to "Add #{@product.name} to cart", new_cart_item_path(p_id: @product.id), class:"btn btn-light border"%>
          <% if current_user.nil? %>
          <% end %>
        </div>
     </span>
  </div>

  <% if current_user.present? && (@product.user_id != current_user.id) %>
    <%= form_with model: [@product, @review] do |f| %>
    <div class="field">
      <%= f.label :review_message %><br />
      <%= f.text_area :review_message, size: "50x2", autofocus: true  %>
    </div>
    <%= f.submit 'Give your review', class:"btn btn-primary" %>
    <% end %>
  <% else %>
    <%= "You Can't share review on your own product" %>
  <% end %>
  <br><br>
  <h3>Reviews</h3>
  <p> <%= 'No Reviews' unless @product.reviews.exists? %></p>
  <div id= "review-pane">
    <% my_reviews.each do |review| %>
      <%= render 'reviews/review', review: review%>
    <% end %>
  </div>

</div>
