<div class="container">
<h1>Your reviews_</h1>
<p>Total Created Items: <%= @reviews.length %></p>
</div>

<div class= "row g-4 py-5 row-cols-1 row-cols-lg-3">
  <% @reviews.each do |review| %>
    <span class="border">
      <div class="feature col">
        <h2>Review Message: "<i><%= review.review_message %></i>"</h2>
        <p>Product:  <strong><%= review.product_name %></strong></p> <!-- delegate for product in review added-->
        <p>Review by:  <strong><%= review.user_full_name %></strong></p> <!-- delegate for reviewer name in review added-->
        <%= link_to 'Edit', edit_product_review_path(review.product_id,review.id), class:"btn btn-danger" %>
      </div>
    </span>
  <% end %>
</div>
